@{
    ViewBag.Title = "Email Helper Page";
}
<div class="container">
    <div class="col-md-2" style="position: relative; top: 0px;">
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <hr class="hr-danger" />
            <ol class="breadcrumb bread-danger">
                <li class="btn btn-danger"><i class="fa fa-flag"></i>@Html.ActionLink("Identify Vulnerable Kids", "IdentifyVulnerableKids", "Home", new { @style = "color: white" })</li>
            </ol>
        </div>
        <div class="row">
            <hr class="hr-primary" />
            <ol class="breadcrumb bread-primary">
                <li class="btn btn-primary" style="color: white"><i class="fa fa-bar-chart"></i>@Html.ActionLink("Vulnerable Kids Facts", "EducationalOutcomes", "Home", new { @style = "color: white" })</li>
            </ol>
        </div>
        <div class="row">
            <hr class="hr-success" />
            <ol class="breadcrumb bread-success">
                <li class="btn btn-success"><i class="fa fa-paw"></i>@Html.ActionLink("Support Services", "SupportServices", "Home", new { @style = "color: white" })</li>
            </ol>
        </div>
        <div class="row">
            <hr class="hr-info" />
            <ol class="breadcrumb bread-purple">
                <li class="btn btn-info"><i class="fa fa-envelope"></i>@Html.ActionLink("Email Helper", "EmailHelper", "Home", new { @style = "color: white" })</li>
            </ol>
        </div>
        <div class="row">
            <hr class="hr-warning" />
            <ol class="breadcrumb bread-warning">
                <li class="btn btn-warning"><i class="fa fa-comments"></i>@Html.ActionLink("Experience Sharing", "ChatHub", "Home", new { @style = "color: white" })</li>
                @* <li data-target="#myModal"  data-toggle="modal" class="btn btn-warning"> <i class="fa fa-comments"></i> Teachers' Chat Hub</li>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h2 class="modal-title" id="myModalLabel">
                                        Code of Conduct
                                    </h2>
                                </div>
                                <div class="modal-body">
                                    <ul>
                                        <li>
                                            This channel is made for communication among teachers only.
                                        </li>
                                        <li>
                                            Leaking personal details of children is forbidden.
                                        </li>
                                        <li>
                                            We recommend you to use pseudonym in this channel.
                                        </li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <button type="button" class="btn btn-primary">@Html.ActionLink("Yes", "ChatHub", "Home", new { @style = "color: white" })</button>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </ol>
        </div>
        <div class="row">
            <hr class="hr-doc" />
            <ol class="breadcrumb bread-doc">
                <li class="btn btn-doc"><i class="fa fa-file-pdf-o"></i>@Html.ActionLink("Doc Helper", "EmailHelper", "Home", new { @style = "color: white" })</li>
            </ol>
        </div>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default" style="background: rgba(255, 250, 250, 0.9); border: None; position: relative; left: 30px; top: 100px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <h2 style="font-weight: bolder;">Email Builder</h2>
                    </div>
                    <div class="col-md-6">
                        <h2 style="font-weight: bolder;">Preview</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="word-break: break-all; overflow-y: scroll; max-height: 430px;">
                        <p>
@*                            Agency select:
                            <br />
                            <label for="report1" style="float: right">Salvationarmy </label>
                            <input type="radio" id="report1" name="Report" value="Salvationarmy" onclick="Email.changeAgency()" style="float: right"/>
                            <label for="report2" style="float: right">YouthOfftheStreets </label>
                            <input type="radio" id="report2" name="Report" value="YouthOfftheStreets" onclick="Email.changeAgency()" style="float: right"/>
                            <label for="report3" style="float: right">VincentCare Victoria</label>
                            <input type="radio" id="report3" name="Report" value="VincentCareVictoria" onclick="Email.changeAgency()" style="float: right"/>
                            <br />*@
                            <br />
                            Your Name: <input id="name" oninput="Email.changeName()" style="float: right"></input>
                            <br>
                            <br>
                            School Name: <input id="school" oninput="Email.changeSchool()" style="float: right"></input>
                            <br>
                            <br>
                            Child Name: <input id="childname" oninput="Email.changeChildName()" style="float: right"></input>
                            <br>
                            <br>
                            Address of this Child: <input id="Address" oninput="Email.changeAddress()" style="float: right"></input>
                            <br>
                            <br>
                            Affair:
                            <label for="affair1" style="float: right">Domestic Violence</label>
                            <input type="radio" id="affair1" name="Affair" value="Domestic Violence" onclick="Email.changeAffair()" style="float: right"/>
                            <label for="affair2" style="float: right">Housing Crisis</label>
                            <input type="radio" id="affair2" name="Affair" value="Housing Crisis" onclick="Email.changeAffair()" style="float: right"/>
                            <br>
                            <label for="affair3" style="float: right">Parents Probelm(Drug and Alcohol)</label>
                            <input type="radio" id="affair3" name="Affair" value="Drug and Alcohol" onclick="Email.changeAffair()" style="float: right" />
                            <label for="affair4" style="float: right">Financial Hardship</label>
                            <input type="radio" id="affair4" name="Affair" value="Financial Hardship" onclick="Email.changeAffair()" style="float: right" />
                            <br>
                            <br>
                            Contact of the child:
                            <br>
                            <input type="radio" id="contact1" name="Contact" value="Father" onclick="Email.changeContact()"/>
                            <label for="contact1">Mobile of child's father</label>
                            <input type="radio" id="contact2" name="Contact" value="Mother" onclick="Email.changeContact()"/>
                            <label for="contact2">Mobiel of child's mother</label>
                            <br>
                            <input type="radio" id="contact3" name="Contact" value="Family" onclick="Email.changeContact()"/>
                            <label for="contact3">Phone of family</label>
                            <br>
                            Contact Name: <input id="contactName" oninput="Email.changeContactName()" style="float: right"></input>
                            <br>
                            <br>
                            Contact Number: <input id="contactNumber" oninput="Email.changeContactNumber()" style="float: right"></input>
                            <br>
                            <br>
                        </p>
                        @*<p>
                                Receiver Email: <input id="receiverEmail" oninput="Email.changeReceiverEmail()" style="float: right"></input>
                                <br>
                                <br>
                                Your Name: <input id="name" oninput="Email.changeName()" style="float: right"></input>
                                <br>
                                <br>
                                School Name: <input id="school" oninput="Email.changeSchool()" style="float: right"></input>
                                <br>
                                <br>
                                Parents Name: <input id="receiver" oninput="Email.changeReceiver()" style="float: right"></input>
                                <br>
                                <br>
                                Child Name: <input id="childname" oninput="Email.changeChildName()" style="float: right"></input>
                                <br>
                                <br>
                                Event Location: <input id="eventLocation" oninput="Email.changeEventLocation()" style="float: right"></input>
                                <br>
                                <br>
                                <br>
                                Event:
                                <label for="event1" style="float: right">Outdoor Activity </label>
                                <input type="radio" id="event1" name="Event" value="Outdoor Activity" onclick="Email.changeEvent()" style="float: right"/>
                                <label for="event2" style="float: right">Indoor Activity</label>
                                <input type="radio" id="event2" name="Event" value="Indoor Activity" onclick="Email.changeEvent()" style="float: right"/>
                                <br>
                                <br>
                                Event Date: <input type="date" id="eventdate" oninput="Email.changeEventDate()" style="float: right"></input>
                                <br>
                                <br>
                                <br>
                                Proposal to:
                                <input type="radio" id="invite1" name="Invite" value="Father" onclick="Email.changeInvite()"/>
                                <label for="invite1">Father</label>
                                <input type="radio" id="invite2" name="Invite" value="Mother" onclick="Email.changeInvite()"/>
                                <label for="invite2">Mother</label>
                                <input type="radio" id="invite3" name="Invite" value="Both" onclick="Email.changeInvite()"/>
                                <label for="invite3">Both</label>
                                <input type="radio" id="invite4" name="Invite" value="None" onclick="Email.changeInvite()"/>
                                <label for="invite4">None</label>
                            </p>*@
                    </div>
                    <div class="col-md-6" style="word-break: break-all; overflow-y: scroll; max-height: 390px;">
                        <p id="emailDone" style="font-weight: bold;">Generating...</p>
                    </div>
                </div>
                <div class="row">
                    <br>
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-info" onclick="Email.sendEmail()">Send the Email~</button>
                        @Html.ActionLink("Cannot Send?", "EmailHelp", "Home", new { area = "" }, new { @style = "color: red; " })
                    </div>
                  @*  <div class="col-md-4">
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function Email(name) {
        // Changeable
        this.name = name;
        this.receiver = "";
        this.childname = "";
        this.school = "";
        this.event = "";
        this.Location = "";
        this.contact = "";
        this.Mobile = "";
        this.ParentName = "";

        this.changeContactNumber = () => {
            this.Mobile = document.getElementById("contactNumber").value;
            this.generate();
        }

        this.changeContactName = () => {
            this.ParentName = document.getElementById("contactName").value;
            this.generate();
        }

        this.changeAddress = () => {
            this.Location = document.getElementById("Address").value;
            this.generate();
        }

        this.changeContact = () => {
            var contacts = document.getElementsByName("Contact");
            var selectedcontact = "";

            for (var i = 0; i < contacts.length; i++) {
                if (contacts[i].checked)
                    selectedcontact = contacts[i].value;
            }

            switch (selectedcontact) {
                case "Father":
                    this.contact = "I know that you can make a contact with the father of kid, ";
                    break;
                case "Mother":
                    this.contact = "I know that you can make a contact with Mother of the kid, ";
                    break;
                case "Family":
                    this.contact = "I know that you can make a contact with landline, the number is ";
                    break;
                default:
                    this.contact = " ";
            }
            this.generate();
        }

/*        this.changeAgency = () => {
            var events = document.getElementsByName("Report");
            var selectedevent = "None";

            for (var i = 0; i < events.length; i++) {
                if (events[i].checked)
                    selectedevent = events[i].value;
            }
            console.log(selectedevent);

            switch (selectedevent) {
                case "Salvationarmy":
                    this.receiverEmail = "nigel.mapes@aus.salvationarmy.org";
                    this.receiver = "staff of SalvationArmy";
                    break;
                case "YouthOfftheStreets":
                    this.receiverEmail = "info@youthoffthestreets.com.au ";
                    this.receiver = "staff of YouthOfftheStreets";
                    break;
                case "VincentCareVictoria":
                    this.receiverEmail = "vincentcare@vincentcare.org.au";
                    this.receiver = "staff of Vincent Care";
                    break;
                default:
                    this.receiverEmail = "";
                    this.receiver = "";
            }
            this.generate();
        }*/

        this.changeName = () => {
            this.name = document.getElementById("name").value;
            this.generate();
        }

        this.changeSchool = () => {
            this.school = document.getElementById("school").value;
            this.generate();
        }

        this.changeChildName = () => {
            this.childname = document.getElementById("childname").value;
            this.generate();
        }

        this.changeAffair = () => {
            var events = document.getElementsByName("Affair");
            var selectedevent = "None";

            for (var i = 0; i < events.length; i++) {
                if (events[i].checked)
                    selectedevent = events[i].value;
            }
            console.log(selectedevent);

            switch (selectedevent) {
                case "Domestic Violence":
                    this.event = " facing a problem of domestic violence.";
                    this.receiverEmail = "vincentcare@vincentcare.org.au";
                    this.receiver = "staff of Vincent Care";
                    break;
                case "Housing Crisis":
                    this.event = " facing a problem of housing crisis.";
                    this.receiverEmail = "vincentcare@vincentcare.org.au";
                    this.receiver = "staff of Vincent Care";
                    break;
                case "Drug and Alcohol":
                    this.event =
                        " facing a drug and alcohol problem in his family, which affect learning life of this child.";
                    this.receiverEmail = "vincentcare@vincentcare.org.au";
                    this.receiver = "staff of Vincent Care";
                    break;
                case "Financial Hardship":
                    this.event =
                        "facing a problem of financial hardship.";
                    this.receiverEmail = "vincentcare@vincentcare.org.au";
                    this.receiver = "staff of Vincent Care";
                    break;
                default:
                    this.event = " ";
            }
            this.generate();
        }

        // Not Changeable
        this.last = "Best Regards";

        this.generate = () => {
            var space = "<br />" + "<br />"; //"%0D%0A" + "%0D%0A";
            var space2 = "%0D%0A" + "%0D%0A";
            this.application = "<b> Subject: Email from school teacher and seek help for child. </b>";
            this.application2 = "Email from school teacher and seek help for kid.";

            var line1 = "Dear " + this.receiver + ",";
            var line2 = "I am a teacher " + " in " + this.school + ".";
            var line3 = "There is a student of mine called " + this.childname + " who may " + this.event;
            var line4 = "we recommend that you can have a help in your power and put this situation on records." +
                "The address of this child is " +
                this.Location + ".";
            var line45 = this.contact + this.ParentName + ", whose mobile number is " + this.Mobile;
            var line5 = this.last;
            var line6 = this.name;
            var line7 = "<br><hr> This email is sending from TVK website.";

            this.content = this.application + space + line1 + space + line2 + space + line3 + space + line4 + space + line45 + space + line5 + space + line6 + line7;
            this.content2 = line1 + space2 + line2 + space2 + line3 + space2 + line4 + space2 + line45 + space2 + line5 + space2 + line6;

            this.update(this.content);
        }

        this.update = (e) => {
            document.getElementById("emailDone").innerHTML = e;
        }

        this.sendEmail = () => {
            var link = "mailto:" + this.receiverEmail + "?subject=" + this.application2 + "&body=" + this.content2;
            window.open(link);
        }
    }
    var Email = new Email("Yang");
    Email.generate();
</script>


@*<script>
                        function Email(receiverEmail, name, reveiver, childname, school, event, eventdate) {
                            // Changeable
                            this.receiverEmail = receiverEmail;
                            this.name = name;
                            this.receiver = reveiver;
                            this.childname = childname;
                            this.school = school;
                            this.event = event;
                            this.eventdate = eventdate;
                            this.invite = "";
                            this.eventLocation = "";

                            this.changeReceiverEmail = () => {
                                this.receiverEmail = document.getElementById("receiverEmail").value;
                                this.generate();
                            }

                            this.changeName = () => {
                                this.name = document.getElementById("name").value;
                                this.generate();
                            }

                            this.changeSchool = () => {
                                this.school = document.getElementById("school").value;
                                this.generate();
                            }

                            this.changeChildName = () => {
                                this.childname = document.getElementById("childname").value;
                                this.generate();
                            }

                            this.changeReceiver = () => {
                                this.receiver = document.getElementById("receiver").value;
                                this.generate();
                            }

                            this.changeReceiver = () => {
                                this.receiver = document.getElementById("receiver").value;
                                this.generate();
                            }

                            this.changeEventDate = () => {
                                this.eventdate = document.getElementById("eventdate").value;
                                console.log(document.getElementById("eventdate").value)
                                this.generate();
                            }

                            this.changeEventLocation = () => {
                                this.eventLocation = document.getElementById("eventLocation").value;
                                this.generate();
                            }

                            this.changeEvent = () => {
                                var events = document.getElementsByName("Event");
                                var selectedevent = "None";

                                for (var i = 0; i < events.length; i++) {
                                    if (events[i].checked)
                                        selectedevent = events[i].value;
                                }
                                console.log(selectedevent);

                                switch (selectedevent) {
                                    case "Outdoor Activity":
                                        this.event = " an outdoor activity";
                                        break;
                                    case "Indoor Activity":
                                        this.event = " a indoor activity";
                                        break;
                                    default:
                                        this.event = " ";
                                }
                                this.generate();
                            }

                            this.changeInvite = () => {
                                var inviteValue = document.getElementsByName("Invite");
                                var selected;

                                for (var i = 0; i < inviteValue.length; i++) {
                                    if (inviteValue[i].checked)
                                        selected = inviteValue[i].value;
                                }
                                console.log(selected);

                                switch (selected) {
                                    case "Father":
                                        this.invite = "I really hope that " + this.childname + "'s father can take " + this.childname + " to that activity. Both you and your child will have greate fun from that.";
                                        break;
                                    case "Mother":
                                        this.invite = "I really hope that " + this.childname + "'s mother can take " + this.childname + " to that activity. Both you and your child will have greate fun from that.";
                                        break;
                                    case "Both":
                                        this.invite = "I really hope that " + this.childname + "'s parents can take " + this.childname + " to that activity. Both you and your child will have greate fun from that.";
                                        break;
                                    case "None":
                                        this.invite = " ";
                                        break;
                                    default:
                                        this.invite = " ";
                                }
                                this.generate();
                            }

                            // Not Changeable
                            this.last = "Best Regards";

                            this.generate = () => {
                                var space = "<br />" + "<br />"; //"%0D%0A" + "%0D%0A";
                                var space2 = "%0D%0A" + "%0D%0A";
                                this.application = "<b> Subject: Email from school for your kid, " + this.childname + "</b>";
                                this.application2 = "Email from school for your kid, " + this.childname;

                                var line1 = "Dear " + this.receiver + ",";
                                var line2 = "I am a teacher of your child " +
                                    this.childname +
                                    " in " +
                                    this.school +
                                    "." + " By my understanding of your child's current situation, your child have not had a parent-child avtivity for a long time. " +
                                    "I notice that there will be " +
                                    this.event +
                                    " on " +
                                    this.eventdate + " in " + this.eventLocation + ".";
                                var line3 = this.invite;
                                var line5 = this.last;
                                var line6 = this.name;

                                this.content = this.application + space + line1 + space + line2 + space + line3 + space + line5 + space + line6;
                                this.content2 = line1 + space2 + line2 + space2 + line3 + space2 + line5 + space2 + line6;

                                this.update(this.content);
                            }

                            this.update = (e) => {
                                document.getElementById("emailDone").innerHTML = e;
                            }

                            this.sendEmail = () => {
                                var link = "mailto:" + this.receiverEmail + "?subject=" + this.application2 + "&body=" + this.content2;
                                window.open(link);
                            }
                        }
                        var Email = new Email("cnyangdengau@gmail.com", "Dr Who", "Mr.Harry", "Json", "Marven Primary School", "", "2017-09-03");
                        Email.generate();
    </script>*@
