@{
    ViewBag.Title = "Identify Vulnerable Kids";
}

<script src="~/Scripts/survey.jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.3/Chart.bundle.js"></script>
<script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
<style>
    .btn-green {
        background-color: #1ab394;
        color: #fff;
        border-radius: 3px;
    }

        .btn-green:hover, .btn-green:focus {
            background-color: #18a689;
            color: #fff;
        }

    .panel-footer {
        /*
            padding: 0 15px;
    */
        border: none;
        text-align: right;
        background-color: #fff;
    }
</style>
<div class="container">
    <div class="col-md-2">
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <hr class="hr-danger"/>
            <ol class="breadcrumb bread-danger">
                <button class="btn btn-danger btn-tvk" onclick="location.href = '@Url.Action("IdentifyVulnerableKids", "Home")'"><i class="fa fa-flag"></i> Identify Vulnerable Kids</button>
            </ol>
        </div>
        <div class="row">
            <hr class="hr-primary"/>
            <ol class="breadcrumb bread-primary">
                <button class="btn btn-primary btn-tvk" style="background:rgba(0,0,0,0.3);" onclick="location.href = '@Url.Action("EducationalOutcomes", "Home")'"><i class="fa fa-bar-chart"></i> Vulnerable Kids Facts</button>
            </ol>
        </div>
        <div class="row">
            <hr class="hr-success"/>
            <ol class="breadcrumb bread-success">
                <button class="btn btn-success btn-tvk" style="background:rgba(0,0,0,0.3);" onclick="location.href = '@Url.Action("SupportServices", "Home")'"><i class="fa fa-envelope"></i> Support Services</button>
            </ol>
        </div>
        <div class="row">
            <hr class="hr-warning"/>
            <ol class="breadcrumb bread-warning">
                <button class="btn btn-warning btn-tvk" style="background:rgba(0,0,0,0.3);" onclick="location.href = '@Url.Action("ChatHub", "Home")'"><i class="fa fa-share-alt"></i> Experience Sharing</button>
            </ol>
        </div>
        <div class="row">
            <hr class="hr-info"/>
            <ol class="breadcrumb bread-info">
                <button class="btn btn-info btn-tvk" style="background:rgba(0,0,0,0.3);" onclick="location.href = '@Url.Action("EducationPlan", "Home")'"><i class="fa fa-file-pdf-o"></i> Child Action Plan</button>
            </ol>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-9">
        <div class="row" style="position: relative; top: 70px; left: -50px;">
            <div class="col-md-6">
                <br>
                <div id="display"></div>
                <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>
                <div class="container">
                    <ul id="contacts" class="list-group">
                        <!-- Conatct Object li.list-group-item.contact will be added here by js -->
                    </ul>
                </div>
                <div class="panel panel-danger" id="SurveyPanel" style="background: rgba(255, 250, 250, 0.8); border: None; position: relative; left: 30px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                    <div class="panel-heading"></div>
                    <div class="panel-body" style="word-break: break-all; max-height: 520px; overflow-y: scroll;">
                        <div class="row clearfix">
                            <div id="surveyElement"></div>
                            <div id="surveyResult"></div>
                            <script src="~/Scripts/quiz.js"></script>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default" id="ResultPanel" hidden style="background: rgba(255, 250, 250, 0.9); border: None; position: relative; left: 30px; top: 30px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                <div class="panel-body" style="word-break: break-all;">
                    <div class="col-md-8" id="ResultContainer">
                        <canvas id="radarChartResult2" width="700" height="500"></canvas>
                    </div>
                    <div class="col-md-4">
                        <h2 style="font-weight: bolder">General Report</h2>
                        <p style="font-weight: bold; overflow-y: scroll; height: 430px;" id="GeneralReport">The situation of this kid is Ok~</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <br>
                <br>
                <div class="row">
                    <div class="panel panel-danger" id="EvidencePanel" style="background: rgba(255, 255, 255, 0.8); border: None; position: relative; left: 30px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class="panel-heading">Evidence</div>
                        <div class="panel-body" style="word-break: break-all; height: 200px; overflow-y: scroll;">
                            <div id="surveyEvidence"></div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="panel panel-danger" id="ReferencePanel" style="background: rgba(255, 255, 255, 0.8); border: None; position: relative; left: 30px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class="panel-heading">Reference</div>
                        <div class="panel-body" style="word-break: break-all; height: 200px; overflow-y: scroll;">
                            <div id="surveyReference"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>